/* Styles specific to home page */

.home-header {
	padding-top: calc(var(--feather-grid-mega) * 3);
	padding-bottom: calc(var(--feather-grid-mega) * 1.75);
}
.nav-bar.scrolled {
    padding: 17px 0 20px 0;
}

.subheading {
    margin: var(--feather-grid-medium) 0;
}

.subheading a {
	text-decoration: none;
}

.subheading a:link, .subheading a:visited {
	color: white;
}

.subheading a:hover, .subheading a:active {
	color: var(--tw-color-blue-faded);
}

.grey {
	background-color: var(--tw-color-gray-faint);
}

.small-container {
	max-width: calc(var(--feather-grid-page-width) - var(--feather-grid-mega) * 4);
	margin: 0 auto;
}

.small-container .Grid-cell {
	padding: var(--feather-grid-large) var(--feather-grid-mega);
	max-width: 600px;
}

/*Timeline height changed with JS. timeline-cell height is set as a backup.*/
.timeline-cell {
	height: 700px;
}

.open-source-title a {
	text-decoration: none;
}

.open-source-title a:link, .open-source-title a:visited {
	color: inherit;
}

.open-source-title a:hover, .open-source-title a:active {
	color: var(--tw-color-text-link);
}

/* Center text vertically */

.career-title {
	margin-top: 230px;
}

.open-source-title {
	margin-top: 325px;
}

/* Our Philosophy - images */

img.emoji-img {
	display: block;
	width: 175px;
	height: 175px;
}

.Icon--caretDown {
    display: none;
}

/* Home page media queries */

/* Less than --feather-grid-page-width + (--feather-grid-mega * 2) */
@media (max-width: 1236px) {
	.home-header {
		padding-bottom: calc(var(--feather-grid-mega) * 1.5);
	}
}

/* Less than 600px */

@media (max-width: 600px) {
	.timeline-cell {
		height: 450px;
	}

	.career-title, .open-source-title {
		margin-top: 0;
	}
}

/* Explore Projects */

.explore-projects {
	background-image: url("../assets/network.svg");
	background-repeat: no-repeat;
    background-size: auto 380px;
	background-position: bottom right -50px;
}

/* Empty space for mobile layout of explore projects */
.explore-projects-blank {
	height: 320px;
	display: none;
}

/* Greater than 1400px */
@media (min-width: 1400px) {
	.explore-projects {
		background-position: bottom right;
	}
}

/* Explore Projects media query breakpoints */

/* Image size slightly smaller between 1050px and 1236px */
@media (max-width: 1236px) and (min-width: 1050px) {
	.explore-projects {
		background-position: bottom right -100px;
		background-size: auto 350px;
	}
}

@media (max-width: 1050px) {
	.explore-projects {
		background-position: bottom right -250px;
	}
}

@media (max-width: 860px) {
	.explore-projects {
		background-position: bottom right -350px;
	}
}

@media (max-width: 700px) {
	.explore-projects {
		background-position: bottom right -400px;
	}
}

/* Empty space now displayed */
@media (max-width: 600px) {
	.explore-projects-blank {
		display: block;
	}

	.explore-projects {
		background-position: bottom right -250px;
	}
}

@media (max-width: 480px) {
	.explore-projects {
		background-position: bottom right -350px;
	}
}

@media (max-width: 380px) {
	.explore-projects {
		background-position: bottom right -400px;
	}
}


.site {
    background-color: #f4f4f4;
}

.all-projects {
	padding-top: var(--feather-grid-mega);
    padding-bottom: calc(var(--feather-grid-mega) * 2);
    padding-left: calc(var(--feather-grid-mega) * 1.5);
    padding-right: calc(var(--feather-grid-mega) * 1.5);
}


.project-card {
	position: relative;
	padding: var(--feather-grid-mega) calc(var(--feather-grid-mega) * 1.5);
    min-width: var(--project-card-min-width);
    padding: 10px;
    margin-bottom: 40px;
}

.project-card-inner {
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px 40px 62px;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    text-align: center;
}

.project-card-inner .line-member {
    display: block;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
}
.project-card-inner .line-member img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin-left: -10px;
}
.project-card-inner .line-member img:first-child {
    margin-left: 0;
}

.project-card-inner .line-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.project-card-inner .line-title h1.project-name {
    font-family: "Avenir-heavy";
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3bbd4d;
    margin-right: 8px;
}
.project-card-inner .line-title img {
    width: 21px;
    height: 9px;
    object-fit: cover;
    margin-top: 3px;
}
.project-card .project-card-inner .project-description {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: #445a6c;
    margin-bottom: 13px;
}

.project-card-inner .line-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 25px;
}
.project-card-inner .line-tags > div {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: center;
    color: #445a6c;
    width: 50%;
}
.project-card-inner .line-tags > div:first-child {
    border-right: 1px solid #ebf0f8;
    padding-right: 15px;
    text-align: right;
}
.project-card-inner .line-tags > div:last-child {
    padding-left: 15px;
    text-align: left;
}

.project-card .project-language {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #647787;
}

.border {
	width: 150px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}

.project-language {
	color: var(--tw-color-gray-deep);
	font-size: var(--feather-font-size-normal);
	line-height: var(--feather-line-height-normal);
}

.project-links a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-decoration: none;
}

.project-links a:link, .project-links a:visited {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.project-links a:hover, .project-links a:active {
	color: var(--tw-color-text-link);
}

.whitespace {
    height: calc(var(--feather-grid-mega) * 1.1);
}

.project-links {
    position: absolute;
    bottom: var(--feather-grid-mega);
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 39px;
    align-items: center;
}

.project-card button {
    position: absolute;
    bottom: var(--feather-grid-mega);
    right: calc(var(--feather-grid-mega) * 2);
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #677a89;
}

/* statistics-summary */
.header h1 {
    font-size: 72px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.statistics-summary {
    margin-top: 31px;
}
.statistics-summary p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #ffffff;
}

/* Search Bar */
.search-bar {
    border: 0;
    width: 479px;
    height: 45px;
    position: relative;
    border-radius: 37px;
    background-color: #88e3da;
    padding: 0 var(--feather-grid-medium);
    margin-top: 31px;
}

.search-box {
    border: 0;
    width: 100%;
    height: 45px;
    border-radius: 37px;
    background-color: #88e3da;
    
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.search-box:focus {
    font-size: 16px;
}

.search-box::placeholder {
	color: white;
}
.icon--search {
    width: 26px;
    height: 26px;
    object-fit: cover;
    float: right;
    position: absolute;
    right: 26px;
    top: 9px;
}
input:focus {
	outline: none;
}

.no-results {
	padding-top: var(--feather-grid-mega);
}

.Button {
    width: 110px;
    height: 39px;
    border-radius: 19.5px;
    background-color: #ffffff;
}

/* Media queries */

/* 2 columns */
@media (max-width: 1236px) {
	.all-projects {
		max-width: calc(var(--project-card-max-width) * 2);
		margin: 0 auto;
	}
}

/* 1 column */
@media (max-width: 850px) {
	.all-projects {
		padding-top: var(--feather-grid-large);
		padding-bottom: calc(var(--feather-grid-mega) * 1.5);
		max-width: var(--project-card-max-width);
	}

	.project-card {
		min-width: 250px;
		padding-left: var(--feather-grid-mega);
		padding-right: var(--feather-grid-mega);
	}

	.project-card button {
		right: var(--feather-grid-mega);
	}
}

